{% block body %}
    <div>
        <h2>Ajouter un campus</h2>
        {{ form_start(siteForm) }}
        {{ form_widget(siteForm) }}
        <button>Rajouter</button>
        {{ form_end(siteForm) }}
    </div>
{% endblock %}


